/**
 * -----------------------------------------------------------------------------
 * $TEXTAREA
 * -----------------------------------------------------------------------------
 */

/**
 * Styles for the `textarea` element.
 */


textarea {
    display: block;
    box-sizing: border-box;
    @include rem(margin-bottom, $spacing-base);
    width: 100%;

    resize: vertical;

    color: $color-brand;
}
