<!DOCTYPE html>
<html lang="{{ Culture.Name }}" class="is-inverted-header">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% resources type: "Meta" %}

    <title>{% page_title Site.SiteName, position: "before", separator: " - " %}</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Hind:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/Moov2.Website.Theme/Styles/Site.css">

    <script src="/Moov2.Website.Theme/Scripts/vendor/modernizr.min.js"></script>
    <script src="/Moov2.Website.Theme/Scripts/vendor/picturefill.min.js" async></script>

    <script src="/Moov2.Website.Theme/Scripts/bundle.js" async></script>

    {% resources type: "HeadLink" %}
    {% resources type: "Stylesheet" %}
    {% resources type: "HeadScript" %}

    <script>
        // Picture element HTML5 shiv
        document.createElement("picture");
    </script>
</head>

<body>
    <header class="header--masthead align--vertical-middle list--justify-between">
        <div class="zone zone-logo">
            {% render_section "Logo", required: false %}
        </div>

        <div class="zone zone-navigation">
			{% shape "menu", alias: "alias:main-menu", cache_id: "main-menu", cache_duration: "00:05:00", cache_tag: "alias:main-menu" %}
            {% render_section "Navigation", required: false %}
        </div>
    </header>

    <main id="main-content">
        <div class="zone zone-content">
            {% render_body %}
        </div>
    </main>

    <footer>
        <div class="zone zone-footer-primary">
            {% render_section "FooterPrimary", required: false %}
        </div>

        <div class="zone zone-footer-secondary">
            {% render_section "FooterSecondary", required: false %}
        </div>
    </footer>

    {% resources type: "FootScript" %}
</body>
</html>
